img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}

h2, h3 {
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

p {
    font-family: Mulish;
    font-style: normal;
}



/****************************************************************************************/



.article-one, .article-two, .article-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto 250px;
    padding: 0 15px;
    max-width: 1301px;
}

.article-two {
    max-width: 1242px;
}

.article-three {
    max-width: 1180px;
    padding-bottom: 500px;
}

/************************************************************************/

.article-one__images {
    max-width: 570px;
}

.article-one-items {
    max-width: 356px;
    margin-right: 40px;
}

.article-one-items h1 {
    margin-bottom: 74px;
}

.article-one-items p {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
    margin-bottom: 33px;
}

.article-two-items, .article-three-items {
    max-width: 481px;
    margin-right: 40px;
}

.article-two-items {
    margin-left: 40px;
}

.article-two-items h2, .article-three-items h3 {
    margin-bottom: 20px;
}

.article-two-items p, .article-three-items p {
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 33px;

}

.btn-bacg-orang-article{
    width: 132px;
    height: 44px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background-color: #FB8F1D;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}


.btn-bacg-orang-article {

    transition: 0.15s;
    transform: scale(1.02);

}


@media screen and (max-width:900px) {
   
    .btn-bacg-orang-article {
        width: 106px;
        height: 35px;
        transition: 0.15s;
        transform: scale(1.02);
    }
    
}
